[submodule "svg3d"]
	path = svg3d
	url = https://github.com/SeHoonYang/svg3d.git
[submodule "game/foodTowerDefense"]
	path = game/foodTowerDefense
	url = https://github.com/SeHoonYang/FoodTowerDefense
[submodule "game/dodge"]
	path = game/dodge
	url = https://github.com/SeHoonYang/SimpleDodge.git
