[submodule "svg3d"]
	path = svg3d
	url = https://github.com/SeHoonYang/svg3d.git
[submodule "game/foodTowerDefense"]
	path = game/foodTowerDefense
	url = https://github.com/SeHoonYang/FoodTowerDefense
[submodule "game/dodge"]
	path = game/dodge
	url = https://github.com/SeHoonYang/SimpleDodge.git
[submodule "game/SlidePuzzle"]
	path = game/SlidePuzzle
	url = https://github.com/SeHoonYang/SlidePuzzle.git
[submodule "game/dotConnector"]
	path = game/dotConnector
	url = https://github.com/SeHoonYang/dotConnector
